body{
  background: url(https://wallpaperaccess.com/full/84303.jpg);
}
.App {
  text-align: center;
  
}

.App h1{
  font-size: 100px;
}

/* .App button{
  margin: 5px;
  padding: 10px;
  border-radius: 17px;
  border-bottom: 5px solid black;
  cursor: pointer;
  font-style: normal;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  
}

.App button:hover{
  transition: 0.2s;
  animation-duration: 0.2s;
  border-bottom: 6px solid black;
 }

 .App .plus:hover{
  background-color: green;
 }
 
 .App .minus:hover{
  background-color: red;
 }

 .App .clear:hover{
  background-color: yellow;
 }
 */
