.App {
  text-align: center;
}

.App h1{
  font-size: 100px;
}

.App button{
  margin: 5px;
  padding: 10px;
  border-radius: 15px;
  border-bottom: 3px solid black;
  cursor: pointer;
  font-style: oblique;
  font-weight: bold;
}

.App button:hover{
  transition: 0.5s;
  border-bottom: 3px solid gold;
  animation-duration: 0.5s;
 }